.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.p{
  font-family: 'Andale Mono', monospace;
    color: black;
    font-weight: bold;
}

.ul{
  font-family: 'Andale Mono', monospace;
}

.ul li{
  font-family: 'Andale Mono', monospace;
}

.p_center{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
	line-height: 56px;
	color: black;
  font-family: 'Andale Mono', monospace;
  }

  .p_center span {
    padding: 10px;
    background: skyblue;
    font-family: 'Andale Mono', monospace;
  }

  .button-menu{
    margin-right: 8px;
    margin-bottom: 12px;
    background-color: #4682B4;
    font-family: 'Andale Mono', monospace;
    color: white;
    font-weight: bold;
  }
