<nz-page-header-content>
  <div nz-row nzJustify="space-around" nzAlign="middle">
    <div nz-col nzFlex="1"></div>
    <div nz-col nzFlex="2">
      <img
        nz-image
        width="300px"
        height="400px"
        nzSrc="assets/img/me.jpg"
        alt=""
      />
    </div>

    <div nz-col nzFlex="0.3"></div>

    <div nz-col nzFlex="13">
      <p nz-typography class="height-100"></p>
      <h1 nz-typography class="p_center">
        <span nz-typography>Алина Федорова</span>
      </h1>
      <p nz-typography class="p">
        Родилась 12 апреля 2002 года. Этот день знаменит первым полетом человека
        в космос.
      </p>
      <p nz-typography class="p">
        Обучалась в МБОУ СОШ им. А.А. Константиновой п. Эльдикан, а также МБОУ
        СОШ № 1 им. М. П. Кочнева г. Нерюнгри. Закончила старшую школу в классе
        с информационно-технологическим уклоном.
      </p>
      <p nz-typography class="p">
        В настоящий момент является студенткой СибГУТИ на направлении
        "Прикладная информатика в экономике".
      </p>
      <p></p>
    </div>
  </div>
</nz-page-header-content>
