<form nz-form [formGroup]="userAboutForm">
  <nz-table #basicTable nzTemplateMode>
      <thead>
          <tr>
              <th>ID</th>
              <th>ФИО</th>
              <th>Активность</th>
              <th>Логин</th>
              <th>Пароль</th>

          </tr>
      </thead>
      <tbody>        
          <tr>
           <td>
              
              <input nz-input type="text" [(ngModel)]="user.id" formControlName="id"/>
              </td>
              <td>
                  <input nz-input type="text" [(ngModel)]="user.name" formControlName="name"/>
              </td>
              <td>
                  <input nz-input type="text" [(ngModel)]="user.act" formControlName="act"/>
              </td>
              <td>
                <input nz-input type="text" [(ngModel)]="user.login" formControlName="login"/>
            </td>
            <td>
                <input nz-input type="text" [(ngModel)]="user.password" formControlName="password"/>
            </td>
              
              <td>
                  <button nz-button type="submit" (click)="changeUser()"> Save </button>
                  
              </td>           
       </tbody>
      </nz-table>
  </form>