<h4 nz-typography>Добавить пользователя в список:</h4>
<br />
<nz-table #basicTable nzTemplateMode>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Роль</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input nz-input type="text" [(ngModel)]="user.name" placeholder="Введите имя"/>
      </td>
      <td>
        <nz-select [(ngModel)]="user.role">
          <nz-option
            *ngFor="let role of roles"
            [nzValue]="role"
            [nzLabel]="role"
          ></nz-option>
        </nz-select>
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.login"/>
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.password" placeholder="Введите пароль"/>
      </td>
      <td>
        <button nz-button type="submit" (click)="saveUser()">Добавить</button>
        <nz-divider nzType="vertical"></nz-divider>
      </td>
    </tr>
  </tbody>
</nz-table>
