
<nz-table #basicTable nzTemplateMode>
  <thead>
    <tr>
      <th>ID</th>
      <th>ФИО</th>
      <th>Активность</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>
        <input nz-input type="text" [(ngModel)]="user.id" placeholder="ID"/>
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.name"/>
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.act" />
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.login" />
      </td>
      <td>
        <input nz-input type="text" [(ngModel)]="user.password" />
      </td>
      <td>
        <button nz-button type="submit" (click)="saveUser()">Добавить</button>
      </td>
    </tr>
  </tbody>
</nz-table>
