<nz-page-header-content>
  <div nz-row>
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8">
      <img
        nz-image
        width="500px"
        height="300px"
        nzSrc="assets/img/city.jpg"
        alt=""
      />
    </div>
    <div nz-col nzSpan="8"></div>
  </div>
  <br />
  <p nz-typography class="p">
    &nbsp;&nbsp;&nbsp;Якутск является столицей Республики Саха, а также самым
    крупным городом, который находится в зоне вечной мерзлоты и холода. Якутск,
    расположенный на левом берегу р. Лены в долине Туймаада, является довольно
    значимым портом.
  </p>
  <p nz-typography class="p">
    &nbsp;&nbsp;&nbsp;Сибирский город отличают его суровые климатические
    условия, температура может достигать до –70°С в зимний период. А зима здесь
    длится целых восемь месяцев, и на весну, лето и осень приходится все
    оставшееся время. Снега начинают сходить только к концу апреля. Однако,
    когда наступает лето, температура может также делать своеобразные скачки и
    доходить до отметки +38. Разность между температурами превышает 102, что не
    отмечено больше нигде на земле!
  </p>
</nz-page-header-content>
