<div nz-row nzJustify="space-around" nzAlign="middle">
  <div nz-col nzFlex="2">
    <img
      nz-image
      width="700px"
      height="300px"
      nzSrc="assets/img/number.png"
      alt=""
    />
  </div>
  <div nz-col nzFlex="0.3"></div>
  <div nz-col nzFlex="5">
    <p class="height-100"></p>
    <p nz-typography class="p">{{ data.izm }}</p>

    <p nz-typography class="p">{{ data.izm2 }}</p>

    <p nz-typography class="p">{{ data.izm3 }}</p>
  </div>
</div>
<br />
<a nz-button nzType="link" href="Edit" class="button-menu">Изменить</a>
