
      <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzFlex="2">
          <img
          nz-image
          width="500px"
          height="300px"
          nzSrc="assets/img/img2.jpg"
          alt=""
        />
        
    </div>
    <div nz-col nzFlex="5"></div>
    <div nz-col nzFlex="5"></div>
    <div nz-col nzFlex="5"></div>
    <div nz-col nzFlex=""><p class="height-100">
      <p nz-typography class="p">{{data.izm}}</p>

      <p nz-typography class="p">{{data.izm2}}</p>

      <p nz-typography class="p">{{data.izm3}}</p>
   </div>
  </div>
  <br>
  <div nz-col nzFlex="1"></div>
  <div nz-col nzFlex="1"></div>
  <a nz-button nzType="link" href="Edit" class="button-menu">Править</a>